* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;

    font-family: 'Courier New', Courier, monospace;
    color: white;

    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 100%;

    /* border: 1px solid green; */
}

#chat-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 10px;
    /* border: 1px solid yellow; */
}

.self-message-container {
    justify-content: end;
    align-self: end;
    
    max-width: 70%;
    padding: 5px;
    /* border: 1px solid white; */
    
    background-color: #048a84;
    border-radius: 5px;
    
    font-weight: lighter;
}

.message-container {
    display: flex;
    gap: 10px;
    
    width: 70%;
    /* border: 1px solid white; */
}


.sender-section {
    min-width: 85px;
    /* border: 1px solid red; */

    font-weight: bold;
}

.content-section {
    font-weight: lighter;
    
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid blue; */

    background-color: gray;
}

#input-container {
    display: flex;
    gap: 10px;

    padding: 10px;
    /* border: 1px solid yellow; */
}

#message {
    flex-grow: 2;
}